<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connBD" connectionString="Data Source= PAUL-PC\SQL2019; DATABASE= BD_CONTACTABILIDAD; Trusted_Connection=true; INTEGRATED SECURITY=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>